/* MATERIALIZE / SONATA ELEMENTS */

nav{
    padding-left: 15px;
    padding-right:15px;
}

textarea{
    height:8rem;
}

.portfolio .tabs-content.carousel{
    height: 87vh!important;
}
.portfolio .carousel .carousel-item{
    width:100%;
    height:100%;
    overflow-y: auto;
    padding: 25px;
}

.portfolio .carousel .carousel-item::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #b0bec5;
}

.portfolio .carousel .carousel-item::-webkit-scrollbar
{
    width: 5px;
    background-color: #b0bec5;
}

.portfolio .carousel .carousel-item::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.collapsible-header{
    justify-content: space-between;
}

.card-info{
    font-size: 12px;
    margin-top: 20px;
}
.card .card-title{
    font-weight: 400;
}

.collection .collection-item.avatar .title{
    font-weight:500;
}

.chip i{
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.dropdown-button,
.dropdown-content{
    margin: 15px;
}


.collection .collection-item.avatar p{
    margin-top: 15px;
    margin-bottom:15px;
}

.tabs .tab a{
    color: #0277bd;
}
.tabs .tab a.active{
    color: #d32f2f;
}
.tabs .indicator{
    background-color: #d32f2f;
}

.progress{
    height:10px;
}

.no-before:before{
    content: ""!important;
}

/* TYPOGRAPHY */

.font-small{
    font-size: 12px;
}

/* POSITIONS */

.marge-10{
    margin-top:10px;
    margin-bottom:10px;
}
.marge-25{
    margin-top:25px;
    margin-bottom:25px;
}

.flex-around{
    display: flex!important;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: initial;
}

.block-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ELEMENTS */

.body-content{
    margin: 5%;
}

.row .fosuser-content{
    float: none;
    margin: auto;
    padding: 20px;
}

.fosuser-content input[type="submit"]{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    margin: auto;
    /*margin-top: 30px;*/
    font-size: 1rem;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    display: block;
}


.masonry-item{
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
@media only screen and (min-width: 600px){
    .masonry {
        column-count: 1;
    }
}
@media only screen and (min-width: 992px) {
    .masonry {
        column-count: 2;
    }
}
@media only screen and (min-width: 1200px) {
    .masonry {
        column-count: 3;
    }
}

.article-content{
    text-align: justify;
}

.portfolio-content{
    width: 100%;
    height:100%;
}

.portfolio #about *{
    margin-left: inherit;
}
.portfolio #experiences .popout{
    width:80%;
}

.portfolio #competences .portfolio-content{
    width:80%;
    margin: auto;
    align-items: flex-start;
}

.portfolio #diplomes .card-panel{
    width:80%;
}
.portfolio #diplomes i{
    margin-bottom: 10px;
}

.portfolio #projets .card{
    min-height: 30vh;
    /*width:45%;*/
    margin-right:auto;
}
.portfolio #projets .portfolio-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.capital{
    text-transform: uppercase;
}

footer ul li{
    float: left;
    margin-right: 15px;
}