<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Rémi Mafat{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/remimafat.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyclass %}{% endblock %}">

        <header>
            {% block header %}
                {% if is_granted("ROLE_ADMIN") %}
                    {{ render(controller('RmBlogBundle:Blog:signalCount')) }}
                {% else %}
                    {% embed 'header.html.twig' %}{% endembed %}
                {% endif %}
            {% endblock %}
        </header>

        <div class="body-content">
            {% block body %}{% endblock %}
        </div>


        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <script src="{{ asset('assets/js/remimafat.js') }}"></script>
        {% endblock %}

        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
    </body>
</html>
